 * {
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
     text-decoration: none;
  
 }
 .header{
     display: flex;
     justify-content:  space-evenly;
     background-color: #1F2937;
     padding-top: 1rem;
 }
 
 .headerLogo{
     font-size: 24px;
     color: #f9faf8;
 }
 .headerLinks * {
     font-size: 16px;
     color: #e5e7eb;
     padding: 1rem;
     
 }
 
 .mainBox{
     display: flex;
     flex-direction: column;
     background-color: #1F2937;

 }
 .firstBox{
     display:flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin: 5%;
 }
 .secondBox{
     text-align: center;
 }
 .secondBoxFlex{
     display:flex;
     justify-content: center;
     gap: 5rem;
 }
 .thirdBox{
    display:flex;
    
 }