 * {
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
     text-decoration: none;
  
 }
 .header{
     display: flex;
     justify-content:  space-evenly;
     background-color: #1F2937;
     padding-top: 1rem;
 }
 
 .headerLogo{
     font-size: 24px;
     color: #f9faf8;
 }
 .headerLinks{
     margin-right: -5rem;
 }
 .headerLinks * {
     font-size: 16px;
     color: #e5e7eb;
     padding: 1rem;
     
 }
 
 .mainBox{
     display: flex;
     flex-direction: column;
     background-color: #1F2937;

 }
 .firstBox{
     display:flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin: 5%;
     gap: 10%;
     margin: 10%;
 }
 .firstBoxFlex{
     flex-wrap: wrap;
     flex:1;
     margin-left: 10%;
 }

 .firstBoxFlex div {
     margin: 1rem 0px;

 }

 .heroText{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
 }
 .secondaryText{
    font-size: 18px;
    color: #e5e7eb;
 }
 .btn{
     background-color: #3882f6;
     padding: 10px 20px;
     border: none;
     border-radius: 6px;
     color: #f9faf8;
     font-weight: bold;
 }
 .imgPlace{
     background-color: grey;
     align-self: center;
     padding: 5rem;
     color: #e5e7eb;
     flex:1;
     text-align: center;
     margin-right: 10%;
     
 }
 .secondBox{
     text-align: center;
     background-color: white;
 }
 .secondBoxTitle{
     color: #1f2937;
     font-size: 36px;
     font-weight: bolder;
     padding: 4rem;
 }
 .secondBoxFlex{
     display: flex;
     gap: 5rem;
     background-color: white;
     margin: -2% 15%;
     justify-content: center;
 }
 .imageWithCap{
     align-items: center;
     justify-content: center;
     height: 145px;
     width: 145px;
     margin: auto -2%;

 }
 .imgs{
     border: 3px solid #3882f6;
     height: 145px;
     width: 145px;
     text-align: center;
     border-radius: 6px;
     margin-bottom: 5px;
 }
 .caption{
    color:#1F2937;
 }
 .thirdBox{
    display:flex;
    
 }